@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #fffcfc;
  --sec: #a476ff;
  --white: #2c2c2c;
  --hover: #5a565650;
  --white-icon: #000000f6;
  --white-icon-tr: #fcfcfc;
  --icon-bg: #e4dfdf86;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --sec: #a476ff;
    --foreground: #dfdfdf;
    --hover: #ffffff;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
    --icon-bg: #0f0f0fec;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
